<html>
    <head>
        <title>Delete Account</title>
    </head>
<body>
    <h1>Delete Account</h1>
    {% if step=="ask" %}
    <p>Are you sure you want to delete your account?</p><br>
    <form action="{{ url_for('delete') }}" method="post">
    <input type="hidden" name="step" value="Yes">
    <input type="submit" name="button1" value="Yes">
    </form>
    <form action="{{ url_for('delete') }}" method="post">
    <input type="hidden" name="step" value="No">
    <input type="submit" name="button2" value="No">
    </form>
    {% elif step == "Yes" %}
        Your account has been deleted. 
    {% elif step == "No" %}
    Delete canceled!
    Please return to the <a href="{{ url_for('dashboard') }}">dashboard.</a>
    {% endif %}
</body>
</html>